html {
 font-size: 100%;
 box-sizing: border-box;
}

*,
*::before,
*::after {
 box-sizing: inherit;
}

body {
 padding: 0;
 margin: 0;
 background-color: $darkCyan;
 font-family: "Kumbh Sans", sans-serif;
 color: $veryDarkBlue;
}

a {
 text-decoration: none;
 color: $veryDarkBlue;
}
